<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ .Page.CSS }}
  <title>Superadmin Login</title>
</head>
<body class="bg-light-gray sans-serif">
  <div></div>
  <div id="login">
    <h1>Superadmin Login</h1>
    <!-- <form id="loginform" name="loginform" method="POST" action="" class="bg&#45;white"> -->
    <!--   <div class="mv2 pt2"><label>Password:</label></div> -->
    <!--   <div><input type="text" id="pm&#45;superadmin&#45;password" name="pm&#45;superadmin&#45;password" class="bg&#45;near&#45;white pa2 w&#45;100"></div> -->
    <!--   <div class="mv2 pt2"> -->
    <!--     <input id="remember&#45;me" type="checkbox" class="pointer"> -->
    <!--     <label for="remember&#45;me" class="ml1 pointer">Remember Me</label> -->
    <!--   </div> -->
    <!--   <div class="mv2 pt2"> -->
    <!--     <button type="submit">Log in</button> -->
    <!--   </div> -->
    <!-- </form> -->
    {{ .LoginForm }}
  </div>
  {{ .Page.JS }}
</body>
</html>
